.side_bar {
  height: 1000px;
  width: 250px;
  background-color: #f6efdb;
  color: slategray;
}

.wapper {
  font-size: 20px;
  display: flex;
  padding: 30px 60px;
  text-decoration: none;
  color: slategray; 
}

.main {
  display: flex;
}

.main_bar{
  height: 100vh;
  width: 1250px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.product {
  height: 290px;
  width: 300px; /* 商品ボックスの幅 */
  margin: 20px; /* 商品ボックスのマージン */
  padding: 10px; /* 商品ボックスのパディング */
  border-radius: 10px;
  border:solid 8px cornsilk;
}

.item-img-content {
  text-align: center;
  
  height: 250px;
}

.item-name {
  margin: 10px;
  font-size: 15px;
  text-align: center;
}

.alcohol_name {
  text-decoration: none;
  text-decoration-line: none;
}

.alcohol_name_tag {
  text-decoration: none;
}

.contens_name {
  text-decoration: none;
  color: black;
}