.side_bar {
  height: 1000px;
  width: 250px;
  background-color: #f6efdb;
  color: slategray;
}

.wapper {
  font-size: 22px;
  display: flex;
  padding: 30px 50px ;
  text-decoration: none;
  color: slategray;
  font-family: "游ゴシック体","YuGothic";
}

.main {
  display: flex;
}

.main_bar{
  height: 100vh;
  width: 1000px;
}

.list {
  height: 100vh;
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.product {
  height: 290px;
  width: 300px;
  margin: 20px; 
  padding: 10px;
  border-radius: 10px;
  border:solid 8px cornsilk;
}

.item-img-content {
  height: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-name {
  margin: 10px;
  font-size: 15px;
  text-align: center;
}

.alcohol_name {
  text-decoration: none;
  text-decoration-line: none;
}

.alcohol_name_tag {
  text-decoration: none;
}

.contens_name {
  text-decoration: none;
  color: black;
}

.keyword {
  display: flex;
  padding: 30px 30px ;
}