.title {
  display: flex;
  justify-content: space-between;
  width: 1366px;
  height: 60px;
  padding: 20px 60px 15px 60px;
  background-color: #f6efdb
}

.title-tag {
  font-size: 40px;
  font-family: Georgia;
  color: slategray;
}

.lists-right {
  display: flex;
  list-style: none;
}
.post {
  margin: 20px 30px;
  padding: 10px 30px;
  border: solid 2px;
  font-size: 30px;
  text-decoration: none;
  color: slategray;
  border-radius: 10px;
  font-family: Georgia;
}

.user-nickname {
  text-decoration: none;
  color: slategray;
}

.logout {
  padding: 0 20px;
  text-decoration-line: none;
  text-decoration: none;
  color: slategray;
  ;
}
.imag {
  display: flex;
  position: relative;
  width: 1366px;
  height: 100%;
}
.image-main {
  height: 100%;
  width: 100%;
}

.alcohol-items {
  position: absolute;
  top: calc(50% - 35px);
  padding: 0 60px;
}

.alcohol-text__main {
font-size: 50px;
}

.hero-text__sub {
  font-size: 20px;
  text-align: center;
}

.service-btn {
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
  font-family: Georgia;
  padding: 10px;
  margin: 30px 230px;
  background-color: white;
}

.start-btn {
  text-decoration: none;
  color: slategray;
  
}