<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>お酒の記録</title>
  </head>
<body>
  <header>
    <div class ="title">
      <div class ="title-tag">alcohol record space</div>
      <div class='nav'>
    <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to  current_user.nickname, class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', "#", data: {turbo_method: :delete}, class: "logout" %></li>
    <% end %>
   </ul>
  </div>
  </div>
    </header>
    